<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>POS_API_Sample.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>693C4A43D1F5C43AFF79A680B44B0771F0632ED7</string>
				<key>dateExpires</key>
				<string>2018/06/14</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>i386</string>
						<string>x86_64</string>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>693C4A43D1F5C43AFF79A680B44B0771F0632ED7</string>
						<key>dateExpires</key>
						<string>2018/06/14</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FTKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>24SXCE6USQ</string>
						<key>name</key>
						<string>TB Group inc.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>24SXCE6USQ.jp.co.tb-group</string>
				<key>com.apple.developer.team-identifier</key>
				<string>24SXCE6USQ</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>24SXCE6USQ.jp.co.tb-group</string>
				</array>
			</dict>
			<key>name</key>
			<string>POS_API_Sample.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c8917f12-1447-44a9-a14a-53b4e2d6e1b8</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>24SXCE6USQ</string>
				<key>name</key>
				<string>TB Group inc.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
