<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://tbgsadev.github.io/iSAPPOS/PAS_1.29_R00/POS_API_Sample.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://tbgsadev.github.io/iSAPPOS/PAS/Check_57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://tbgsadev.github.io/iSAPPOS/PAS/Check_512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>jp.co.tb-group</string>
				<key>bundle-version</key>
				<string>1.29R00</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>POS_API_Sample</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
